<div class="mt-4">
  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="name">Nhập khóa học</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        placeholder="Nhập tên khóa học"
      />
    </div>
    <div class="form-group">
      <label for="description">Mô tả khóa học</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        placeholder="Nhập tên mô tả"
      />
    </div>
    <div class="form-group">
      <label for="video">Video khóa học</label>
      <input
        type="text"
        class="form-control"
        id="video"
        name="video"
        placeholder="Nhập video id"
      />
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>