<div
  class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between navbar__wrapper"
>
  <div class="p-2 d-flex align-items-center">
    <img
      class="navbar__logo"
      src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
      alt=""
    />
    <a class="navbar-brand navbar__title" href="#">Học Lập Trình Để Đi Làm</a>
  </div>

  <form class="p-2 form-inline my-2 my-lg-0 w-25">
    <div class="d-flex w-100 justify-content-between align-items-center border border-dark form-inline__search">
      <span class="form-inline__icon pl-3"><i
          class="fa-solid fa-magnifying-glass"
        ></i></span>
      <input
        class="form-control form-control__border mr-sm-2 w-100"
        type="search"
        placeholder="Tìm kiếm khóa học, bài viết, video, ..."
        aria-label="Search"
      />
    </div>
  </form>

  <ul class="p-2 navbar-nav d-flex align-items-center">
    <li class="nav-item active">
      <a class="nav-link nav-link__course" href="#">
        Khóa học của tôi

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-solid fa-bell"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link__user d-flex" href="#">
        <img
          class="rounded-circle w-100 h-100"
          src="https://fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg"
          alt=""
        />
      </a>
    </li>
  </ul>

</div>