
<div class="mt-4">
    <form method="POST" action="/search">
  <div class="form-group">
    <label for="search-input">Email address</label>
    <input type="text"  name="q" class="form-control" id="search-input"  placeholder="Enter search...">
  </div>

  <div class="form-group">
    <label for="gender-input">Gender</label>
    <select  name="gender" class="form-control" id="gender-input"  >
      <option value="">-- Select sex</option>
      <option value="fale">Nam</option>
      <option value="madale">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>